{% extends '@Home/layout.html.twig' %}
{% block content %}
            <h1>
                Login
            </h1>
            <form action="{{ path('jobz_home_login_logincheck') }}" method="post">
                <label for="username">Email:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" />

                <label for="password">Password:</label>
                <input type="password" id="password" name="_password" />

                <button type="submit">login</button>
            </form>
{% endblock %}